<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MarketPlace</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% for category in menu_categories %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'productCategory' category.slug %}">{{category}}</a>
        </li>
        {% endfor %}

        <li class="nav-item">
          <a href="{% url 'cart' %}" class="nav-link">Cart{% if cart %}({{cart|length}}){% endif %}</a>
        </li>
     

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
            {% if request.user.is_authenticated %}
            <li class="px-2"><a class="dropdown-item" href="{% url 'cxOrders' %}">My Orders</a></li>
            <li class="px-2"><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li class="px-2"><a class="dropdown-item" href="{% url 'inbox' %}">Messages</a></li>
            <li class="px-2"><a class="dropdown-item" href="{% url 'cx_logout' %}">Logout</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'cx_login' %}">Login/Register</a></li>
            {% endif %}
          </ul>
        </li>



      </ul>
      
      
        <form class="d-flex"method="GET" action="{% url 'search' %}">
            <input class="form-control me-2" type="text" class="input" placeholder="Search for a Product..." name="query">
            <button class="btn bg-dark text-light" type="submit" >Search</button>
        </form>
      

    </div>
  </div>
</nav>