

<div class="field">
						<label> First Name</label>

						<div class="control">
							<input class="input" type="text" name="first_name">
						</div>
					</div>

					<div class="field">
						<label> Last Name</label>

						<div class="control">
							<input class="input" type="text" name="last_name">
						</div>
					</div>

					<div class="field">
						<label>E-mail</label>

						<div class="control">
							<input class="input" type="email" name="email">
						</div>
					</div>

					<div class="field">
						<label>Phone</label>

						<div class="control">
							<input class="input" type="text" name="phone">
						</div>
					</div>

					<div class="field">
						<label>Address</label>

						<div class="control">
							<input class="input" type="text" name="address">
						</div>
					</div>

					<div class="field">
						<label>Zip/Postal Code</label>

						<div class="control">
							<input class="input" type="text" name="zipcode">
						</div>
					</div>

					<div class="field">
						<label>place</label>

						<div class="control">
							<input class="input" type="text" name="place">
						</div>
					</div>